.panel-container {
  margin: 30px;
}

.row {
  width: 100%;
  margin: 45px;
  margin-bottom: 10px;
  font-size: 25px;
}
.block {
  width: 25%;
  display: inline-block;
}
button {
  margin: 10px;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
mat-row {
  cursor: pointer;
}