<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <add name="DataSourceConnectionString"
         connectionString="data source=.;
       initial catalog=Input;persist security info=True; 
       Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>