<mat-tab-group [(selectedIndex)]="selected">
  <mat-tab label="Active Rules">
    <ng-template matTabContent>
      <app-active-rule></app-active-rule>
    </ng-template>
  </mat-tab>
  <mat-tab label="New Rule">
    <ng-template matTabContent>
      <app-new-rule></app-new-rule>
    </ng-template>
  </mat-tab>
  <mat-tab label="Realtion Rules">
      <ng-template matTabContent>
        <app-relation-rule></app-relation-rule>
      </ng-template>
  </mat-tab>
  <mat-tab label="Log">
    <ng-template matTabContent>
      <app-migration-log (rowClicked) = "rowClicked($event)"></app-migration-log>
    </ng-template>
  </mat-tab>
</mat-tab-group>